<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>smms_img_uploader</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1B8B1D5F-70F9-4CEA-B919-6C4EA48A6441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B5D0DB2-3956-4E6D-98CE-5A6380D89E62</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>按Enter删除该图片</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E37E0EE3-A642-4E17-A0D4-9B892F7B41D6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>按Enter删除该图片</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>A8A98384-F48B-4B4F-B011-9F5C978C6DD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D37E0EE3-A642-4E17-A0D4-9B892F7B41D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JT</string>
	<key>description</key>
	<string>Upload and manage images on sm.ms</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SM.MS Image Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9B5D0DB2-3956-4E6D-98CE-5A6380D89E62</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sml</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./workflow list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List SM.MS Images</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B8B1D5F-70F9-4CEA-B919-6C4EA48A6441</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./workflow delete "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E37E0EE3-A642-4E17-A0D4-9B892F7B41D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D37E0EE3-A642-4E17-A0D4-9B892F7B41D5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>smu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./workflow upload</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Upload Clipboard Image to SM.MS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8A98384-F48B-4B4F-B011-9F5C978C6DD5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>使用说明：
1. 设置环境变量 SM_TOKEN 为你的 SM.MS API Token
2. 使用 sml 命令查看已上传的图片列表
3. 使用 smu 命令上传剪贴板中的图片
4. 在图片列表中按command+enter键删除选中的图片</string>
	<key>uidata</key>
	<dict>
		<key>1B8B1D5F-70F9-4CEA-B919-6C4EA48A6441</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9B5D0DB2-3956-4E6D-98CE-5A6380D89E62</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A8A98384-F48B-4B4F-B011-9F5C978C6DD5</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>D37E0EE3-A642-4E17-A0D4-9B892F7B41D5</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>E37E0EE3-A642-4E17-A0D4-9B892F7B41D6</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>SM_TOKEN</key>
		<string>t6EqLDzkHreh56NWuy1EMDtsVLpWi7tq</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SM_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://sm.ms</string>
</dict>
</plist>
